* {
    padding: 0;
    margin: 0;
    border: 0;
}
a {
    text-decoration: none;
}

body {
    width: 100vh;
    background-color: #FFFFFF;
}

#first__presenter {
    width: 1275px;
    height: 800px;
    display: flex;
}
#main__heading {
    width: 514px;
    height: 176px;
    color: #151515;
    margin-left: -285px;
    margin-top: 189px;

    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
        /* or 92% */

    text-transform: uppercase;
    position: absolute;


    background: #FFFFFF;
    mix-blend-mode: difference;
    filter: invert(100%);
    
}
#just__black {
    width: 450px;
    height: 799px;
    background-color: #151515;
}
#text-and-location {
    width: 350px;
    height: 160px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    /* or 145% */


    /* Dark Grey */

    color: #444444;

    position: absolute;
    margin-top: 190px;
    margin-left: 925px;
}
#location__button {
    width: 260px;
    height: 72px;
    display: flex;
    justify-content: center;
    
    background-color: #151515;
    margin-top: 64px;
}

#presenter__image {
    width: 540px;
    height: 800px;
}

#button {
    width: 204px;
    height: 72px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 3.63636px;

    /* White */

    color: #FFFFFF;
    /*background-color: #151515;*/


    display: flex;
    justify-content: center;
    align-items: center;
}
.icon__arrow {
    width: 56px;
    height: 72px;
    background-color: #D5966C;

    display: flex;
    justify-content: center;
    align-items: center;
}
#gallery__image {
    width: 635px;
    height: 400px;
}
.text {
    color: #FFFFFF;
}

footer {}