* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    max-width: 375px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.intro-info {  
    display: flex;
    flex-direction: column;
    align-items: center;
}
#intro-image {
    max-width: 375px;
    max-height: 240px;
}
.slogan {
    margin-top: 32px;
    width: 343px;
    height: 110px;
}
#main-slogan {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 92%;
    color: #151515;
    max-width: 343px;
    max-height: 110px;
}

.slogan-text {
    margin-top: 32px;
    width: 343px;
    height: 110px;
}
#main-text {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 156%;
    color: #444444;
    max-width: 343px;
    max-height: 112px;

}
.location-button {
    width: 260px;
    height: 72px;
    display: flex;
    margin-top: 32px;
    margin-left: 16px;

}
.button {
    width: 204px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;

    text-decoration: none;
}
#button {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 3.63636px;

    /* White */

    color: #FFFFFF;
   
    display: flex;
    justify-content: center;
    align-items: center;

    width: 204px;
    height: 72px;
}
.icon__arrow {
    background-color: #D5966C;
    width: 56px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery-img {
    margin-top: 120px;
    max-width: 343px;
    max-height: 320px;
}
.middle-section-title {
    width: 343px;
    height: 90px;
    display: flex;
    margin-top: 25px;
}
#middle-section-title {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    /* or 90% */

    text-transform: uppercase;

    /* Almost Black */

    color: #151515;  
    
    

}
.gallery-text {
    width: 343px;
    height: 90px;
    margin-top: 21px;
}
#gallery-text {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */


    /* Dark Grey */

    color: #444444;


}
.photo-gallery-description {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#waiting-room {
    max-width: 343px;
    max-height: 480px;
 
}

#big-view {
    max-width: 343px;
    max-height: 200px;
    margin-top: 16px;
}
.smoll__black {
    background: #151515;
    width: 343px;
    height: 293px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#white-slogan {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    /* or 90% */

    text-transform: uppercase;

    /* White */

    color: #FFFFFF;
    width: 295px;
    height: 90px;
    margin-top: 48px;

}
#white-text {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */


    /* White */

    color: #FFFFFF;
    width: 295px;
    height: 84px;

    margin-top: 24px;
}