* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    height: 100vh;
    width: 100vh;
}

.intro__image {
    max-width: 375px;
    max-height: 240px;
}
#intro__image {
    max-width: 375px;
    max-height: 240px;
}
